---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import SocialAccounts from "../components/SocialAccounts.astro";

import profilePicture from "../assets/profile-picture.jpg";

const meta = {
  type: "page",
  title: "About",
  description:
    "I am Pierre-Marie Dartus. Staff Software Engineer at Salesforce. I am passionate about empowering developers to build delightful and performant experiences.",
} as const;

const projects = [
  {
    name: "Lightning Web Components",
    url: "https://github.com/salesforce/lwc",
    description: "A lightweight Web component based UI framework.",
  },
  {
    name: "jsdom",
    url: "https://github.com/jsdom/jsdom",
    description:
      "A JavaScript implementation of various web standards, for use with Node.js.",
  },
  {
    name: "observable-membrane",
    url: "https://github.com/salesforce/observable-membrane",
    description:
      "A Javascript membrane implementation using Proxies to observe mutation on an object graph.",
  },
  {
    name: "rcast",
    url: "https://github.com/pmdartus/rcast",
    description: "PWA podcast player written with LWC.",
  },
  {
    name: "snapline",
    url: "https://github.com/pmdartus/snapline",
    description:
      "Convert screenshots stored in devtool performance trace into GIFs.",
  },
  {
    name: "speedline",
    url: "https://github.com/paulirish/speedline",
    description: "Calculate the speed index from devtools performance trace.",
  },
];

const talks = [
  {
    year: "2016",
    title: "Leverage GraphQL to Efficiently Query Data Relationships",
    event: "Dreamforce'16",
    links: {
      slides:
        "https://drive.google.com/file/d/1QPJ6ymIkcTrnm2EXZVV52TRouRNcfwy_/view?usp=sharing",
      recording: "https://www.youtube.com/watch?v=efEBcCtfARo",
    },
  },
  {
    year: "2017",
    title: "Aura performance analysis & Best practices",
    event: "Paris Salesforce Developer group",
    links: {
      slides:
        "https://drive.google.com/file/d/17tHo68FgZiJwT1xG3rYJI7uMdy2OqszX/view?usp=sharing",
    },
  },
  {
    year: "2019",
    title: "Build Lightning Web Components that Run Anywhere",
    event: "TrailheadDX'19",
    links: {
      slides:
        "https://drive.google.com/file/d/1Cwlkb9qt31vdafsVlIuyMyPBkDyL6Tyq/view?usp=sharing",
    },
  },
  {
    year: "2019",
    title: "How Does Salesforce Build Lightning Web Components?",
    event: "Salesforce Paris World Tour",
    links: {
      slides:
        "https://drive.google.com/file/d/1c2vqFfAIA1e0y0pVf56gYW4KNYcAacgu/view?usp=sharing",
    },
  },
  {
    year: "2020",
    title: "How to tame your JavaScript code using ASTs",
    links: {
      slides:
        "https://drive.google.com/file/d/1ISwbeKt26c3Jv0lX7mgiyQD-watRkofL/view?usp=sharing",
    },
  },
  {
    year: "2022",
    title: "What's new with Lightning Web Components?",
    event: "TrailblazerDX'22",
    links: {
      slides:
        "https://drive.google.com/file/d/1IISTvQrjLSOFKCXdoKIUtsrjwVDIw2fI/view?usp=sharing",
    },
  },
  {
    year: "2023",
    title: "The Art of Analyzing Front-end Performance",
    event: "Meetup Takima",
    links: {
      slides:
        "https://docs.google.com/presentation/d/1eyITq0zur9ImiCi9yQGB5xdzRTmo3a51bCeFh0U_nQk",
    },
  },
  {
    year: "2024",
    title: "Engage Customers with Style - Latest CSS Features Unveiled",
    event: "TrailblazerDX'24",
    links: {
      slides:
        "https://drive.google.com/file/d/1FJk5GZIw-zDDORScCyylFGdhqd-oiXOH/view?usp=sharing",
    },
  },
].toReversed();
---

<Layout meta={meta}>
  <h1>About</h1>

  <Image
    class="profile-picture"
    src={profilePicture}
    alt="Profile picture"
    priority
    width={300}
    height={300}
    densities={[2, 3]}
  />

  <p>
    I am a staff software engineer based out of Paris, France. Currently working
    at Salesforce. I am passionate about empowering developers to build
    delightful and performant user experiences.
  </p>

  <p>
    I actively share my knowledge through <a href="#talks">public speaking</a> and
    <a href="/posts">technical writing</a>. My expertise focuses on the Web
    platform, JavaScript runtimes, developer tooling, and performance
    optimization.
  </p>

  <p>
    As an open source enthusiast, I'm committed to giving back to the developer
    community. I was a core contributor to jsdom and had the opportunity of
    representing Salesforce in the W3C Web Components working group.
  </p>

  <p>
    Feel free to reach out via <a href="mailto:pm@dartus.fr">email</a>.<br />
    Connect with me on: <SocialAccounts />
  </p>

  <h2 id="projects">Projects</h2>

  <ul>
    {
      projects.map((project) => (
        <li>
          <a href={project.url} target="_blank" rel="noopener">
            <strong>{project.name}</strong>
          </a>
          {" - "}
          {project.description}
        </li>
      ))
    }
  </ul>

  <h2 id="talks">Talks</h2>

  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Title</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      {
        talks.map((talk) => (
          <tr>
            <td>{talk.year}</td>
            <td>
              <strong>{talk.title}</strong> {talk.event && ` (${talk.event})`}
            </td>
            <td>
              {talk.links.slides && (
                <a href={talk.links.slides} target="_blank" rel="noopener">
                  Slides
                </a>
              )}
              {talk.links.recording && (
                <a href={talk.links.recording} target="_blank" rel="noopener">
                  Recording
                </a>
              )}
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>

<style>
  .profile-picture {
    display: block;
    margin: 0 auto;
    border-radius: var(--border-radius);
  }
</style>
